/*==============
    CSS RESET
===============*/
html {
	width: 100%;
	height: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
section {
	margin: 0;
	padding: 0;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

body {
	width: 100%;
	height: fit-content;
	overflow-x: hidden;
	overflow-y: scroll;
	scroll-behavior: smooth;
	justify-content: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
	text-decoration: none;
	color: white;
	font-size: small;
	font-weight: 600;
	letter-spacing: 1px;
}

a:hover,
a:active {
	color: #ff6565;
}

button:hover,
button:active {
	opacity: 0.9;
}

.container {
	padding-top: 30px;
	width: 80%;
	height: 100%;
}

/*==========
    Hero
===========*/
.hero {
	width: 100%;
	height: 100vh;
	background: url('./assets/headphones_hero_1.jpg') transparent no-repeat center
		center / cover;
	display: flex;
	justify-content: center;
}

.hero .container .menu-icon {
	display: none;
}

.hero .navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.hero .navbar .logo {
	width: 161px;
	height: 32px;
}

.hero .navbar .menu {
	width: fit-content;
	align-items: center;
	display: flex;
}

.hero .navbar .menu ul {
	display: flex;
	width: fit-content;
	height: fit-content;
	flex-direction: row;
	justify-content: space-between;
}

.hero .navbar .menu ul li {
	margin-left: 30px;
}

.hero .hero-content {
	color: white;
	text-align: center;
	padding-top: 350px;
}

.call-to-action-btn {
	align-items: center;
	background-color: #ff6565;
	border-radius: 22px;
	border-style: none;
	box-shadow: 0px 0px 40px 0px rgba(66, 68, 90, 1);
	color: white;
	cursor: pointer;
	font-size: 12px;
	font-weight: 700;
	height: 44px;
	width: 162;
	letter-spacing: 0.3px;
	justify-content: center;
	padding: 2px 24px;
	margin-top: 45px;
	margin-bottom: 60px;
}

.hero-title {
	margin-bottom: 5px;
	letter-spacing: 1.5px;
	font-size: x-large;
}

.hero-slogan {
	margin: 0;
	padding: 0;
	letter-spacing: 0.75px;
}

.hero-description {
	width: 40vw;
	margin: auto;
	font-weight: 300;
	letter-spacing: 0.6px;
}

/*================
    What we do
================*/
.what-we-do {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.wedo-title {
	font-size: xx-large;
	margin-top: 120px;
	margin-bottom: 50px;
	letter-spacing: 0.5px;
	font-weight: 600;
	display: inline-block;
}

.wedo-slogan {
	width: 60vw;
	margin: auto;
	letter-spacing: 0.6px;
	font-weight: 200;
	margin: 40px auto;
}

.wedo-list {
	max-width: 1000px;
	margin-top: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wedo-list .outerlist {
	width: 100%;
	display: inline;
	margin: auto;
}

.wedo-list .outerlist .outer-list-item {
	width: 210px;
	height: 180px;
	display: inline-block;
	margin-left: 30px;
}

#wedo-icon {
	font-size: 100px;
	color: #ff6565;
}

.inner-list-item p {
	font-weight: 300;
	font-size: 15px;
	letter-spacing: 0.2px;
	line-height: 15px;
	margin-top: 10px;
}

.inner-list-item h4 {
	font-weight: 500;
	letter-spacing: 0.5px;
	margin-top: 10px auto;
}

/*=================
    our results
==================*/
.our-results {
	width: 100%;
	height: 100vh;
	background: url('./assets/headphones_hero_2.jpg') transparent no-repeat center
		center / cover;
	display: flex;
	justify-content: center;
	text-align: center;
	color: white;
}

.results-title {
	font-size: xx-large;
	margin-top: 120px;
	margin-bottom: 50px;
	letter-spacing: 0.5px;
	font-weight: 600;
	display: inline-block;
}

.results-description {
	width: 60vw;
	margin: auto;
	letter-spacing: 0.6px;
	font-weight: 200;
	margin: 40px auto;
}

.results-icons-container {
	max-width: 1000px;
	margin-top: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.results-icons-container .outer-list {
	width: 100%;
	display: inline;
	margin: auto;
}
.results-icons-container .outer-list .outer-list-item {
	display: inline-block;
	background: url('./assets/pentagone.png') no-repeat;
	background-size: 190px 190px;
	width: 190px;
	height: 190px;
	text-align: center;
	align-items: center;
	padding-top: 20px;
	margin-left: 40px;
}

.results-icons-container .inner-list-item h1 {
	font-size: 40px;
	margin: 45px auto 15px auto;
	letter-spacing: 1px;
}

.results-icons-container .inner-list-item p {
	font-weight: 300;
	font-size: 15px;
	letter-spacing: 0.2px;
	line-height: 25px;
}

/*=================
    Contact us
==================*/
.contact-us {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.contact-title {
	font-size: xx-large;
	margin-top: 120px;
	letter-spacing: 0.5px;
	font-weight: 600;
	display: inline-block;
}

form {
	width: 335px;
	margin: auto;
}

.form-element {
	width: 100%;
	height: fit-content;
	display: flex;
	justify-content: left;
	flex-direction: column;
	margin-top: 60px;
}

.form-element label {
	left: 0;
	width: fit-content;
}

.form-element input {
	border: none;
	border-bottom: solid 1px grey;
	height: 25px;
	outline: none;
}

/*============
    footer
=============*/
.footer {
	background-color: #071629;
	width: 100%;
	height: 250px;
	padding: 20px 0px 10px 0px;
}

.footer-container {
	width: 90%;
	height: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer-logo-link {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer-logo {
	width: 161px;
	height: 32px;
}

.footer-icons {
	width: 160px;
}

.footer-icons ul {
	display: flex;
}

.footer-icons ul li {
	margin-left: 30px;
}

.footer p {
	color: #979797;
	font-weight: 300;
	margin-top: 120px;
}



/*======================
    Responsive design
======================*/

@media (max-width: 1200px) {
	.what-we-do {
		height: fit-content;
		padding-bottom: 70px;
	}
	.our-results {
		height: fit-content;
		padding-bottom: 70px;
	}
}

@media (max-width: 480px) {
	/*=========
    	hero
	==========*/
	.hero .navbar .logo {
		margin-left: auto;
		margin-right: auto;
	}
	.hero .navbar .menu-icon {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: start;
		width: 32px;
	}
	.hero .navbar .menu-icon i {
		position: absolute;
		color: white;
	}
	#menu-icon-x {
		display: none;
	}
	.hero .navbar .menu {
		display: none;
		position: absolute;
		width: 80vw;
		justify-content: center;
		margin-top: 32px;
		padding-top: 10px;
		background-color: #949699;
	}
	.hero .navbar .menu ul {
		flex-direction: column;
	}

	.hero .navbar .menu ul li {
		margin: 15px 0;
	}

	a {
		font-size: large;
	}

	.hero .hero-content {
		padding-top: 260px;
	}

	.hero-description {
		width: 335px;
	}

	/*==============
    	what we do
	==============*/
	.wedo-title {
		margin-top: 100px;
		margin-bottom: 0;
	}
	.wedo-slogan {
		width: 335px;
		margin-bottom: 0;
	}
	.wedo-list {
		margin: 0;
	}
	.wedo-list .outer-list-item {
		margin-top: 50px;
	}

	/*==============
    	our results
	==============*/

	.results-title {
		margin-top: 100px;
		margin-bottom: 0;
	}
	.results-description {
		width: 335px;
		margin-bottom: 0;
	}
	.results-icons-container {
		margin: 0;
	}
	.results-icons-container .outer-list-item {
		margin-top: 50px;
	}

	.footer-logo-link {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.footer-logo {
		margin: 30px 0px 60px 0px;
	}
	.footer-icons ul {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between
	}
	.footer-icons ul li {
		margin-left: 0;
	}
	.footer p {
		margin-top: 0;
	}
	.footer-container {
		justify-content: space-between;
	}
}
